<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="headerContainer">
            <div class="headerSearch">
                <img src='/images/logo-mercado-liebre.svg' alt="logo" class="headerLogo">
                <div class="search-container">
                    <input type="search" placeholder="Buscar productos,marcas" class="header__searchbar">
                    <i class="fas fa-search header__search-icon"></i>
                </div>
            </div>
            
            <p class="header__promo"><i class="fas fa-hand-holding-usd header__hand-icon"></i>Compra en cuotas y sin tarjeta de credito<p>
        </div>
        <nav>
            <ul class="header__navigation">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="header__login">
                <li><a href="/register">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="header__burger-menu">
            <i class="fas fa-bars burger-menu__icon"></i>
        </div>
    </header>
    <section class="body__banner">
        <img src="/images/img-home-banner.jpg" alt="banner" class="banner_img">
    </section>
    <main>
        <h3>Sección Basado en tu última visita</h3>
        <section class="main__visits">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div>
                    <i class="fas fa-solid fa-truck  article__shipping-icon"></i>
                    <div class="price-container">
                        <p class="article__price">$6.770</p>
                        <p class="article__discount">40% OFF</p>
                    </div>
                    <h4 class="article__description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                <div>
                    <i class="fas fa-solid fa-truck  article__shipping-icon"></i>
                    <div class="price-container">
                        <p class="article__price">$230.000</p>
                        <p class="article__discount">20% OFF</p>
                    </div>
                    <h4 class="article__description">MacBook Pro 2019</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
                <div>
                    <i class="fas fa-solid fa-truck  article__shipping-icon"></i>
                    <div class="price-container">
                        <p class="article__price">$70.500</p>
                        <p class="article__discount">10% OFF</p>
                    </div>
                    <h4 class="article__description">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="smartTV">
                <div>
                    <i class="fas fa-solid fa-truck  article__shipping-icon"></i>
                    <div class="price-container">
                        <p class="article__price">$23.200</p>
                        <p class="article__discount">5% OFF</p>
                    </div>
                    <h4 class="article__description">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <h3>Ofertas</h3>
        <section class="main__offers">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div>
                    <i class="fas fa-solid fa-truck  article__shipping-icon"></i>
                    <div class="price-container">
                        <p class="article__price">$6.770</p>
                        <p class="article__discount">40% OFF</p>
                    </div>
                    <h4 class="article__description">Cafetera Moulinex</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook">
                <div>
                    <i class="fas fa-solid fa-truck  article__shipping-icon"></i>
                    <div class="price-container">
                        <p class="article__price">$230.000</p>
                        <p class="article__discount">20% OFF</p>
                    </div>
                    <h4 class="article__description">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
                <div>
                    <i class="fas fa-solid fa-truck article__shipping-icon"> </i>
                    <div class="price-container">
                        <p class="article__price">$70.500</p>
                        <p class="article__discount">10% OFF</p>
                    </div>
                    <h4 class="article__description">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="smartTV">
                <div>
                    <i class="fas fa-solid fa-truck  article__shipping-icon"></i>
                    <div class="price-container">
                        <p class="article__price">$23.200</p>
                        <p class="article__discount">5% OFF</p>
                    </div>
                    <h4 class="article__description">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <nav>
            <ul>
                <div class="promose">
                    <li>
                        <i class="fas fa-credit-card footer__icon"></i>
                        <b>Paga con tarjeta o en efectivo</b>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                            puntos de pago. ¡Y siempre es seguro!</p>
                    </li>
                    <li>
                        <i class="fas fa-gift footer__icon"></i>
                        <b>Envio gratis desde $2500</b>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.</p>
                    </li>
                    <li>
                        <i class="fas fa-user-shield footer__icon"></i>
                        <strong>Seguridad, de principio a fin</strong>
                        <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegid@. </p>
                    </li>
                </div>
                <li class="footer__copyright">
                    <h2> Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>

                </li>
            </ul>
        </nav>
    </footer>
</body>
</html>